div.main {
    width: 500px;
    margin: auto;
    background-color: bisque;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top:  50%;
    left: 50%;
    transform: translate(-50%,-50%);
}

div p {
    color: brown;
    font-size: 20px;
    padding: 20px;
}